In [1]:
import pandas as pd
import copy

In [2]:
keyname = 'Mt'
path = '/Users/dongjiacheng/Desktop/coder/mtd/RNA-seq/'+ keyname +'/'
print(path)

/Users/dongjiacheng/Desktop/coder/mtd/RNA-seq/Mt/

1. 将表达矩阵中的SRR号码，根据表格关系，替换为GSM号码

In [3]:
df_exp = pd.read_csv(path + keyname + "_1_FPKM.csv").copy()
df_exp = df_exp.drop(df_exp.columns[1:6], axis=1) # df_exp不保存第二列到第六列

df_sample = pd.read_excel(path + keyname + "_sample_raw_2023.12.28.xlsx").copy()

# SRR 号码映射为 GSM 号码
id_map = dict(zip(df_sample["Run"], df_sample["Sample Name"]))
df_gsm = pd.DataFrame(df_exp)

# 替换文件中的样本名称
new_columns = ["Geneid"] + [id_map[col] for col in df_exp.columns[1:]]
df_exp.columns = new_columns

df_gsm = pd.DataFrame(df_exp)
df_gsm.to_csv(path + keyname + "_4_FPKM_GSM.csv", sep=',',index=False)
df_gsm

,Geneid,GSM4074527,GSM4074528,GSM4074529,GSM4074530,GSM4074531,GSM4074532,GSM4074533,GSM4074534,GSM4074535,...,GSM3131646,GSM3131647,GSM3131648,GSM3131649,GSM3131650,GSM3131651,GSM3131652,GSM3131653,GSM3131654,GSM3131655
0,MYCTH_2114025,4.92,7.72,8.38,7.09,8.16,8.30,5.78,5.84,4.33,...,3.22,2.69,2.96,4.12,8.42,7.94,1.48,2.12,4.36,3.83
1,MYCTH_2293935,2.97,4.11,2.31,2.89,1.21,1.30,1.61,1.89,1.57,...,1.02,3.09,1.59,2.15,2.89,5.26,0.82,1.12,2.13,1.66
2,MYCTH_2293936,0.94,0.80,0.59,0.43,1.09,0.00,0.00,0.74,1.59,...,0.60,3.71,1.05,1.36,0.97,1.42,0.41,0.59,0.27,0.65
3,MYCTH_2051335,12.33,9.43,6.83,8.88,9.91,9.86,6.92,8.09,6.61,...,8.86,8.28,13.23,11.89,13.56,17.57,6.56,8.61,11.55,9.29
4,MYCTH_2121898,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9287,MYCTH_103797,0.00,0.10,0.54,0.32,0.55,0.72,0.05,0.14,0.15,...,1.42,2.24,2.78,2.23,1.26,1.06,0.28,0.85,1.08,0.95
9288,MYCTH_2071098,2.96,3.54,2.69,2.43,2.90,2.95,1.85,2.18,4.34,...,5.42,5.24,7.42,6.75,8.78,8.58,8.91,8.74,8.03,7.09
9289,MYCTH_2114022,0.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.31,0.05,0.00,0.06,0.00,0.00,0.07,0.08,0.08
9290,MYCTH_2114023,0.13,0.14,0.00,0.00,0.00,0.14,0.00,0.13,0.27,...,0.41,0.43,0.17,0.60,0.67,0.98,0.36,0.97,0.37,0.27
9291,MYCTH_2313233,26.24,29.44,13.76,14.99,18.94,17.32,22.03,24.04,15.87,...,19.71,19.96,15.82,14.45,23.44,23.50,15.21,20.27,16.63,14.95

2. 将GSM替换为fname号

In [4]:
id_map = dict(zip(df_sample["Sample Name"], df_sample["Sample ID"]))

new_columns = ["Gene id"] + [id_map[col] for col in df_gsm.columns[1:]]
df_gsm.columns = new_columns

df_fname = pd.DataFrame(df_gsm)
df_fname

,Gene id,mt004001,mt004001,mt004002,mt004002,mt004003,mt004003,mt004004,mt004004,mt004005,...,mt006003,mt006003,mt006004,mt006004,mt006005,mt006005,mt006006,mt006006,mt006007,mt006007
0,MYCTH_2114025,4.92,7.72,8.38,7.09,8.16,8.30,5.78,5.84,4.33,...,3.22,2.69,2.96,4.12,8.42,7.94,1.48,2.12,4.36,3.83
1,MYCTH_2293935,2.97,4.11,2.31,2.89,1.21,1.30,1.61,1.89,1.57,...,1.02,3.09,1.59,2.15,2.89,5.26,0.82,1.12,2.13,1.66
2,MYCTH_2293936,0.94,0.80,0.59,0.43,1.09,0.00,0.00,0.74,1.59,...,0.60,3.71,1.05,1.36,0.97,1.42,0.41,0.59,0.27,0.65
3,MYCTH_2051335,12.33,9.43,6.83,8.88,9.91,9.86,6.92,8.09,6.61,...,8.86,8.28,13.23,11.89,13.56,17.57,6.56,8.61,11.55,9.29
4,MYCTH_2121898,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9287,MYCTH_103797,0.00,0.10,0.54,0.32,0.55,0.72,0.05,0.14,0.15,...,1.42,2.24,2.78,2.23,1.26,1.06,0.28,0.85,1.08,0.95
9288,MYCTH_2071098,2.96,3.54,2.69,2.43,2.90,2.95,1.85,2.18,4.34,...,5.42,5.24,7.42,6.75,8.78,8.58,8.91,8.74,8.03,7.09
9289,MYCTH_2114022,0.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.31,0.05,0.00,0.06,0.00,0.00,0.07,0.08,0.08
9290,MYCTH_2114023,0.13,0.14,0.00,0.00,0.00,0.14,0.00,0.13,0.27,...,0.41,0.43,0.17,0.60,0.67,0.98,0.36,0.97,0.37,0.27
9291,MYCTH_2313233,26.24,29.44,13.76,14.99,18.94,17.32,22.03,24.04,15.87,...,19.71,19.96,15.82,14.45,23.44,23.50,15.21,20.27,16.63,14.95

3. fname号码替换后，会出现两个列或者多列都是一个fname号，在df环境中，出现XXXX.1的情况，现在需要合并同样fname号的数据

In [5]:
df_fname = df_fname.copy()
# 解决列名重复问题
df_fname.columns = df_fname.columns.str.replace('\.\d', '')

# copy.deepcopy()函数用于创建原始对象的完全独立副本（包括嵌套对象和所有内部对象），以便在进行更改时不会影响原始对象
df_fname_new = copy.deepcopy(df_fname.iloc[:,0:1])
columns = df_fname.iloc[:,1:].columns

for col in columns:
    if len(pd.DataFrame(df_fname[col]).columns)>=2: # series转DF
        df_fname_new[col] = df_fname[col].mean(axis=1)
    else:
        df_fname_new[col] = df_fname[col]

df_fname_new = df_fname_new.round(2)
df_fname_new.to_csv(path + keyname + '_exp.tsv',sep='\t',index=False)
df_fname_new

/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_fname.columns = df_fname.columns.str.replace('\.\d', '')
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_47123/1436362036.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)

,Gene id,mt004001,mt004002,mt004003,mt004004,mt004005,mt004006,mt004007,mt004008,mt004009,...,mt003003,mt005001,mt005002,mt006001,mt006002,mt006003,mt006004,mt006005,mt006006,mt006007
0,MYCTH_2114025,6.32,7.74,8.23,5.81,5.03,7.10,8.08,7.50,4.63,...,3.06,0.81,1.23,3.38,6.84,2.94,3.54,8.18,1.80,4.10
1,MYCTH_2293935,3.54,2.60,1.25,1.75,2.42,3.36,3.50,1.33,1.48,...,0.88,0.16,0.60,4.94,4.92,1.92,1.87,4.08,0.97,1.90
2,MYCTH_2293936,0.87,0.51,0.55,0.37,1.45,0.95,0.58,0.09,0.50,...,0.69,0.30,1.23,5.65,1.44,1.82,1.20,1.19,0.50,0.46
3,MYCTH_2051335,10.88,7.86,9.88,7.50,7.14,11.56,7.68,7.88,11.90,...,12.23,4.53,7.96,12.96,25.00,8.61,12.56,15.57,7.58,10.42
4,MYCTH_2121898,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9287,MYCTH_103797,0.05,0.43,0.64,0.10,0.19,0.07,0.48,0.37,3.69,...,0.46,1.40,0.68,2.20,2.96,1.70,2.50,1.16,0.56,1.02
9288,MYCTH_2071098,3.25,2.56,2.92,2.02,4.14,2.44,2.24,2.58,4.47,...,12.18,5.58,5.98,6.19,10.60,5.43,7.08,8.68,8.82,7.56
9289,MYCTH_2114022,0.12,0.00,0.00,0.00,0.00,0.12,0.00,0.00,0.06,...,0.30,0.00,0.00,0.14,0.08,0.10,0.02,0.03,0.04,0.08
9290,MYCTH_2114023,0.14,0.00,0.07,0.06,0.20,0.00,0.13,0.06,0.07,...,1.32,0.28,0.46,0.61,0.70,0.43,0.38,0.82,0.66,0.32
9291,MYCTH_2313233,27.84,14.38,18.13,23.04,15.77,23.24,11.46,18.23,22.28,...,22.24,15.65,18.10,24.97,16.72,20.32,15.14,23.47,17.74,15.79