In [9]:
import pandas as pd
import copy

In [10]:
keyname = 'Mt'
path = '/Users/dongjiacheng/Desktop/coder/mtd/RNA-seq/'+ keyname +'/'
print(path)

/Users/dongjiacheng/Desktop/coder/mtd/RNA-seq/Mt/

复杂的、糟糕的、清理数据

In [11]:
df_fpkm = pd.read_csv(path + keyname+ '_1_FPKM.csv', sep=',').copy()
df_fpkm

,Geneid,Chr,Start,End,Strand,Length,SRR10099850,SRR10099851,SRR10099852,SRR10099853,...,SRR7121120,SRR7121121,SRR7121122,SRR7121123,SRR7121124,SRR7121125,SRR7121126,SRR7121127,SRR7121128,SRR7121129
0,MYCTH_2114025,NC_016472.1,1381,2142,+,762,4.92,7.73,8.38,7.09,...,3.22,2.69,2.96,4.12,8.42,7.92,1.48,2.12,4.35,3.83
1,MYCTH_2293935,NC_016472.1,2744,3343,-,600,2.97,4.12,2.16,2.89,...,1.02,3.09,1.59,2.15,2.89,5.24,0.82,1.11,2.12,1.66
2,MYCTH_2293936,NC_016472.1,3344,3817,-,474,0.94,0.80,0.59,0.43,...,0.60,3.71,1.05,1.36,0.97,1.41,0.41,0.59,0.27,0.65
3,MYCTH_2051335,NC_016472.1,5330,6385,-,1056,12.33,9.44,6.83,8.88,...,8.86,8.28,13.23,11.89,13.55,17.53,6.56,8.59,11.52,9.29
4,MYCTH_2121898,NC_016472.1,15458,25533,+,10076,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9287,MYCTH_103797,NC_016478.1,4089438,4091337,+,1900,0.00,0.10,0.54,0.32,...,1.42,2.24,2.78,2.23,1.26,1.06,0.28,0.85,1.07,0.95
9288,MYCTH_2071098,NC_016478.1,4095568,4097284,+,1717,2.96,3.54,2.69,2.43,...,5.42,5.24,7.42,6.75,8.78,8.53,8.93,8.72,8.01,7.05
9289,MYCTH_2114022,NC_016478.1,4098122,4098907,-,786,0.23,0.00,0.00,0.00,...,0.00,0.31,0.05,0.00,0.06,0.00,0.00,0.07,0.08,0.08
9290,MYCTH_2114023,NC_016478.1,4100606,4101293,-,688,0.13,0.14,0.00,0.00,...,0.41,0.43,0.17,0.60,0.67,0.97,0.36,0.97,0.37,0.27
9291,MYCTH_2313233,NC_016478.1,4101637,4103479,-,1843,26.23,29.48,13.76,14.99,...,19.71,19.96,15.82,14.45,23.43,23.45,15.21,20.20,16.59,14.95

In [12]:
df_sample = pd.read_excel(path + keyname + "_sample_raw_2023.12.28.xlsx").copy()
df_sample_run = df_sample[['Run']].copy()
df_sample_run

             Run
0      SRR101401
1      SRR101402
2      SRR101403
3      SRR101404
4      SRR101405
..           ...
228  SRR23907599
229  SRR23907598
230  SRR23907597
231  SRR23907596
232  SRR23907595

[233 rows x 1 columns]

In [13]:
# 如果df_fpkm中SRR开头的列名在df_sample_run中，则保留，不要删除第一列
df_fpkm_filter = df_fpkm[df_fpkm.columns.intersection(df_sample_run['Run'])].copy()

# 将df_fpkm的第一列与df_fpk_filter拼接
df_fpkm_filter = pd.concat([df_fpkm.iloc[:,0], df_fpkm_filter], axis=1)

# 保存为csv
df_fpkm_filter.to_csv(path + keyname + '_1_FPKM_filter.csv', index=False, sep=',')

df_fpkm_filter

,Geneid,SRR10099850,SRR10099851,SRR10099852,SRR10099853,SRR10099854,SRR10099855,SRR10099856,SRR10099857,SRR10099858,...,SRR7121120,SRR7121121,SRR7121122,SRR7121123,SRR7121124,SRR7121125,SRR7121126,SRR7121127,SRR7121128,SRR7121129
0,MYCTH_2114025,4.92,7.73,8.38,7.09,8.16,8.30,5.78,5.84,4.33,...,3.22,2.69,2.96,4.12,8.42,7.92,1.48,2.12,4.35,3.83
1,MYCTH_2293935,2.97,4.12,2.16,2.89,1.21,1.30,1.61,1.89,1.57,...,1.02,3.09,1.59,2.15,2.89,5.24,0.82,1.11,2.12,1.66
2,MYCTH_2293936,0.94,0.80,0.59,0.43,1.09,0.00,0.00,0.74,1.59,...,0.60,3.71,1.05,1.36,0.97,1.41,0.41,0.59,0.27,0.65
3,MYCTH_2051335,12.33,9.44,6.83,8.88,9.91,9.86,6.92,8.10,6.61,...,8.86,8.28,13.23,11.89,13.55,17.53,6.56,8.59,11.52,9.29
4,MYCTH_2121898,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9287,MYCTH_103797,0.00,0.10,0.54,0.32,0.55,0.72,0.05,0.14,0.15,...,1.42,2.24,2.78,2.23,1.26,1.06,0.28,0.85,1.07,0.95
9288,MYCTH_2071098,2.96,3.54,2.69,2.43,2.90,2.95,1.85,2.19,4.34,...,5.42,5.24,7.42,6.75,8.78,8.53,8.93,8.72,8.01,7.05
9289,MYCTH_2114022,0.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.31,0.05,0.00,0.06,0.00,0.00,0.07,0.08,0.08
9290,MYCTH_2114023,0.13,0.14,0.00,0.00,0.00,0.14,0.00,0.13,0.27,...,0.41,0.43,0.17,0.60,0.67,0.97,0.36,0.97,0.37,0.27
9291,MYCTH_2313233,26.23,29.48,13.76,14.99,18.94,17.32,22.03,24.06,15.87,...,19.71,19.96,15.82,14.45,23.43,23.45,15.21,20.20,16.59,14.95

1. 将表达矩阵中的SRR号码，根据表格关系，替换为GSM号码

In [16]:
df_exp = pd.read_csv(path + keyname + "_1_FPKM.csv").copy()
df_exp = df_exp.drop(df_exp.columns[1:6], axis=1) # df_exp不保存第二列到第六列

df_sample = pd.read_excel(path + keyname + "_sample_raw_2023.12.28.xlsx").copy()

# SRR 号码映射为 GSM 号码
id_map = dict(zip(df_sample["Run"], df_sample["Sample Name"]))
df_gsm = pd.DataFrame(df_exp)

# 替换文件中的样本名称
new_columns = ["Geneid"] + [id_map[col] for col in df_exp.columns[1:]]
df_exp.columns = new_columns

df_gsm = pd.DataFrame(df_exp)
df_gsm.to_csv(path + keyname + "_4_FPKM_GSM.csv", sep=',',index=False)
df_gsm

,Geneid,GSM4074527,GSM4074528,GSM4074529,GSM4074530,GSM4074531,GSM4074532,GSM4074533,GSM4074534,GSM4074535,...,GSM3131646,GSM3131647,GSM3131648,GSM3131649,GSM3131650,GSM3131651,GSM3131652,GSM3131653,GSM3131654,GSM3131655
0,MYCTH_2114025,4.92,7.73,8.38,7.09,8.16,8.30,5.78,5.84,4.33,...,3.22,2.69,2.96,4.12,8.42,7.92,1.48,2.12,4.35,3.83
1,MYCTH_2293935,2.97,4.12,2.16,2.89,1.21,1.30,1.61,1.89,1.57,...,1.02,3.09,1.59,2.15,2.89,5.24,0.82,1.11,2.12,1.66
2,MYCTH_2293936,0.94,0.80,0.59,0.43,1.09,0.00,0.00,0.74,1.59,...,0.60,3.71,1.05,1.36,0.97,1.41,0.41,0.59,0.27,0.65
3,MYCTH_2051335,12.33,9.44,6.83,8.88,9.91,9.86,6.92,8.10,6.61,...,8.86,8.28,13.23,11.89,13.55,17.53,6.56,8.59,11.52,9.29
4,MYCTH_2121898,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9287,MYCTH_103797,0.00,0.10,0.54,0.32,0.55,0.72,0.05,0.14,0.15,...,1.42,2.24,2.78,2.23,1.26,1.06,0.28,0.85,1.07,0.95
9288,MYCTH_2071098,2.96,3.54,2.69,2.43,2.90,2.95,1.85,2.19,4.34,...,5.42,5.24,7.42,6.75,8.78,8.53,8.93,8.72,8.01,7.05
9289,MYCTH_2114022,0.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.31,0.05,0.00,0.06,0.00,0.00,0.07,0.08,0.08
9290,MYCTH_2114023,0.13,0.14,0.00,0.00,0.00,0.14,0.00,0.13,0.27,...,0.41,0.43,0.17,0.60,0.67,0.97,0.36,0.97,0.37,0.27
9291,MYCTH_2313233,26.23,29.48,13.76,14.99,18.94,17.32,22.03,24.06,15.87,...,19.71,19.96,15.82,14.45,23.43,23.45,15.21,20.20,16.59,14.95

2. 将GSM替换为fname号

In [17]:
id_map = dict(zip(df_sample["Sample Name"], df_sample["Sample ID"]))

new_columns = ["Gene id"] + [id_map[col] for col in df_gsm.columns[1:]]
df_gsm.columns = new_columns

df_fname = pd.DataFrame(df_gsm)
df_fname

,Gene id,mt004001,mt004001,mt004002,mt004002,mt004003,mt004003,mt004004,mt004004,mt004005,...,mt006003,mt006003,mt006004,mt006004,mt006005,mt006005,mt006006,mt006006,mt006007,mt006007
0,MYCTH_2114025,4.92,7.73,8.38,7.09,8.16,8.30,5.78,5.84,4.33,...,3.22,2.69,2.96,4.12,8.42,7.92,1.48,2.12,4.35,3.83
1,MYCTH_2293935,2.97,4.12,2.16,2.89,1.21,1.30,1.61,1.89,1.57,...,1.02,3.09,1.59,2.15,2.89,5.24,0.82,1.11,2.12,1.66
2,MYCTH_2293936,0.94,0.80,0.59,0.43,1.09,0.00,0.00,0.74,1.59,...,0.60,3.71,1.05,1.36,0.97,1.41,0.41,0.59,0.27,0.65
3,MYCTH_2051335,12.33,9.44,6.83,8.88,9.91,9.86,6.92,8.10,6.61,...,8.86,8.28,13.23,11.89,13.55,17.53,6.56,8.59,11.52,9.29
4,MYCTH_2121898,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9287,MYCTH_103797,0.00,0.10,0.54,0.32,0.55,0.72,0.05,0.14,0.15,...,1.42,2.24,2.78,2.23,1.26,1.06,0.28,0.85,1.07,0.95
9288,MYCTH_2071098,2.96,3.54,2.69,2.43,2.90,2.95,1.85,2.19,4.34,...,5.42,5.24,7.42,6.75,8.78,8.53,8.93,8.72,8.01,7.05
9289,MYCTH_2114022,0.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.31,0.05,0.00,0.06,0.00,0.00,0.07,0.08,0.08
9290,MYCTH_2114023,0.13,0.14,0.00,0.00,0.00,0.14,0.00,0.13,0.27,...,0.41,0.43,0.17,0.60,0.67,0.97,0.36,0.97,0.37,0.27
9291,MYCTH_2313233,26.23,29.48,13.76,14.99,18.94,17.32,22.03,24.06,15.87,...,19.71,19.96,15.82,14.45,23.43,23.45,15.21,20.20,16.59,14.95

3. fname号码替换后，会出现两个列或者多列都是一个fname号，在df环境中，出现XXXX.1的情况，现在需要合并同样fname号的数据

In [18]:
df_fname = df_fname.copy()
# 解决列名重复问题
df_fname.columns = df_fname.columns.str.replace('\.\d', '')

# copy.deepcopy()函数用于创建原始对象的完全独立副本（包括嵌套对象和所有内部对象），以便在进行更改时不会影响原始对象
df_fname_new = copy.deepcopy(df_fname.iloc[:,0:1])
columns = df_fname.iloc[:,1:].columns

for col in columns:
    if len(pd.DataFrame(df_fname[col]).columns)>=2: # series转DF
        df_fname_new[col] = df_fname[col].mean(axis=1)
    else:
        df_fname_new[col] = df_fname[col]

df_fname_new = df_fname_new.round(2)
df_fname_new.to_csv(path + keyname + '_exp.tsv',sep='\t',index=False)
df_fname_new

/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_fname.columns = df_fname.columns.str.replace('\.\d', '')
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)
/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56628/2957850017.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_fname_new[col] = df_fname[col].mean(axis=1)

,Gene id,mt004001,mt004002,mt004003,mt004004,mt004005,mt004006,mt004007,mt004008,mt004009,...,mt003003,mt005001,mt005002,mt006001,mt006002,mt006003,mt006004,mt006005,mt006006,mt006007
0,MYCTH_2114025,6.32,7.74,8.23,5.81,5.03,7.10,8.09,7.51,4.63,...,3.20,1.06,1.30,3.38,6.82,2.94,3.54,8.17,1.80,4.09
1,MYCTH_2293935,3.54,2.53,1.25,1.75,2.42,3.36,3.51,1.33,1.48,...,1.02,0.19,0.83,4.94,4.92,1.92,1.87,4.07,0.97,1.89
2,MYCTH_2293936,0.87,0.51,0.55,0.37,1.45,0.95,0.58,0.09,0.50,...,0.78,0.34,1.41,5.70,1.44,1.82,1.20,1.19,0.50,0.46
3,MYCTH_2051335,10.88,7.86,9.88,7.51,7.14,11.56,7.69,7.90,11.91,...,12.52,4.68,8.09,12.95,24.94,8.62,12.56,15.54,7.57,10.40
4,MYCTH_2121898,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9287,MYCTH_103797,0.05,0.43,0.64,0.10,0.19,0.07,0.48,0.37,3.69,...,0.48,1.42,0.68,2.20,2.96,1.70,2.50,1.16,0.56,1.01
9288,MYCTH_2071098,3.25,2.56,2.92,2.02,4.14,2.44,2.24,2.59,4.47,...,13.12,6.15,6.30,6.19,10.57,5.43,7.08,8.65,8.82,7.53
9289,MYCTH_2114022,0.12,0.00,0.00,0.00,0.00,0.12,0.00,0.00,0.06,...,0.38,0.00,0.00,0.14,0.08,0.10,0.02,0.03,0.04,0.08
9290,MYCTH_2114023,0.14,0.00,0.07,0.06,0.20,0.00,0.13,0.06,0.07,...,1.39,0.30,0.50,0.61,0.70,0.43,0.38,0.82,0.66,0.32
9291,MYCTH_2313233,27.86,14.38,18.13,23.04,15.77,23.26,11.46,18.24,22.30,...,21.88,15.60,17.68,24.96,16.69,20.32,15.14,23.44,17.70,15.77