In [1]:
import pandas as pd

In [2]:
keyname = 'Mt'
path = '/Users/dongjiacheng/Desktop/coder/mtd/RNA-seq/'+ keyname +'/'
print(path)

/Users/dongjiacheng/Desktop/coder/mtd/RNA-seq/Mt/

1. 生成sample_condition表

In [3]:
df = pd.read_csv(path + keyname + "_sample.tsv", sep="\t").copy()
df["Time"] = df["Time"].fillna("")
df["Condition"] = (
    df["Strain"]
    + " "
    + df["Strategy"].fillna("")
    + " "
    + df["Carbon Sources"].fillna("")
    + " "
    + df["Temperature"].fillna("")
    + " "
    + df["Time"].fillna("")
)

# df保留Sample Number、Sample ID、Series ID、Study Title、Species、Strain、Sample Name、Canbon Sources、Temperature列
df_1 = df[['Sample ID', 'Series Accession','Study Title', 'Condition', 'Related Sample']]

# 如果Conditon最后一位是_，则去掉
df_1.loc[:,'Condition'] = df_1['Condition'].apply(lambda x: x[:-1] if x[-1] == '_' else x)

df_1

/var/folders/9j/hx31vvg102g6r3rs7v7_4bw40000gn/T/ipykernel_56863/3729215933.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.loc[:,'Condition'] = df_1['Condition'].apply(lambda x: x[:-1] if x[-1] == '_' else x)

,Sample ID,Series Accession,Study Title,Condition,Related Sample
0,mt001001,GSE27323,Transcriptomic response to substrate and tempe...,WT Barley 34°,GSM675519
1,mt001002,GSE27323,Transcriptomic response to substrate and tempe...,WT Barley 45°,"GSM675520,GSM675523"
2,mt001003,GSE27323,Transcriptomic response to substrate and tempe...,WT Glucose 34°,"GSM675524,GSM675525"
3,mt001004,GSE27323,Transcriptomic response to substrate and tempe...,WT Glucose 45°,GSM675521
4,mt001005,GSE27323,Transcriptomic response to substrate and tempe...,WT Alfalfa 45°,GSM675522
...,...,...,...,...,...
107,mt014012,GSE221464,The arabinose transporter MtLat-1 is involved ...,WT Arabinan 45° 4h,"GSM6873698,GSM6873699"
108,mt015001,GSE227646,Development of a glucoamylase hyper-production...,MtGM12 Starch 45° 1d,"GSM7104559,GSM7104560,GSM7104561"
109,mt015002,GSE227646,Development of a glucoamylase hyper-production...,MtGM12 Starch 45° 2d,"GSM7104562,GSM7104563,GSM7104564"
110,mt015003,GSE227646,Development of a glucoamylase hyper-production...,WT Starch 45° 1d,"GSM7104565,GSM7104566,GSM7104567"
111,mt015004,GSE227646,Development of a glucoamylase hyper-production...,WT Starch 45° 2d,"GSM7104568,GSM7104569,GSM7104570"

In [4]:
# 读取dataset.tsv
df_2 = pd.read_csv(path + keyname + '_dataset.tsv', sep='\t').copy()
df_2 = df_2[['Series Accession', 'PMID']]

# 将df_2的PMID列转换为整数
df_2['PMID'] = df_2['PMID'].fillna(0).astype(int)

df_2

   Series Accession      PMID
0         GSE213575  37013645
1         GSE213573  37013645
2         GSE213570  37013645
3         GSE221464  36966330
4         GSE214002  36691040
5         GSE214142  36478865
6         GSE205182  36165620
7         GSE184074  35257374
8         GSE183387         0
9         GSE114057  31078793
10        GSE111986  30474279
11        GSE165516  33995328
12        GSE110062  29843921
13        GSE137286  31534479
14         GSE57235  24881579
15         GSE27323  21964414
16        GSE227646  37568174

添加PMID

In [5]:
# 将df_1和df_2合并，根据Series ID列
df_3 = pd.merge(df_1, df_2, on='Series Accession', how='left')


# 将df_3的PMID列转换为整数
df_3['PMID'] = df_3['PMID'].fillna(0).astype(int)

# Sample ID不允许重复
df_3 = df_3.drop_duplicates(subset=['Sample ID'])

# 保存df_3为tsv文件
df_3.to_csv(path + keyname + '_sample_condition.tsv', sep='\t', index=False)

df_3

,Sample ID,Series Accession,Study Title,Condition,Related Sample,PMID
0,mt001001,GSE27323,Transcriptomic response to substrate and tempe...,WT Barley 34°,GSM675519,21964414
1,mt001002,GSE27323,Transcriptomic response to substrate and tempe...,WT Barley 45°,"GSM675520,GSM675523",21964414
2,mt001003,GSE27323,Transcriptomic response to substrate and tempe...,WT Glucose 34°,"GSM675524,GSM675525",21964414
3,mt001004,GSE27323,Transcriptomic response to substrate and tempe...,WT Glucose 45°,GSM675521,21964414
4,mt001005,GSE27323,Transcriptomic response to substrate and tempe...,WT Alfalfa 45°,GSM675522,21964414
...,...,...,...,...,...,...
107,mt014012,GSE221464,The arabinose transporter MtLat-1 is involved ...,WT Arabinan 45° 4h,"GSM6873698,GSM6873699",36966330
108,mt015001,GSE227646,Development of a glucoamylase hyper-production...,MtGM12 Starch 45° 1d,"GSM7104559,GSM7104560,GSM7104561",37568174
109,mt015002,GSE227646,Development of a glucoamylase hyper-production...,MtGM12 Starch 45° 2d,"GSM7104562,GSM7104563,GSM7104564",37568174
110,mt015003,GSE227646,Development of a glucoamylase hyper-production...,WT Starch 45° 1d,"GSM7104565,GSM7104566,GSM7104567",37568174
111,mt015004,GSE227646,Development of a glucoamylase hyper-production...,WT Starch 45° 2d,"GSM7104568,GSM7104569,GSM7104570",37568174